.title h1{
	font-weight: bold;
	font-size: 3.5em;
	padding: .8em;
	color: #045184;
}
.back1{
	background: url('../images/helloquence-61189-unsplash.jpg');
	height: 500px;
	background-position: center;
	background-size: cover;
	margin-bottom: 1em;
	/* rgb(0, 58, 99) */
	background-color: rgba(108,194,74,.5);
	background-blend-mode: multiply;
	border-radius: .5em;
}
.back2{
	background: url('../images/bench-accounting-49025-unsplash.jpg');
	height: 500px;
	background-position: center;
	background-size: cover;
	margin-bottom: 1em;
	background-color: rgba(108,194,74,.5);
	background-blend-mode: multiply;
	border-radius: .5em;
}
.back3{
	background: url('../images/john-schnobrich-520023-unsplash.jpg');
	height: 500px;
	background-position: center;
	background-size: cover;
	margin-bottom: 1em;
	background-color: rgba(108,194,74,.5);
	background-blend-mode: multiply;
	border-radius: .5em;
}
.imgs a{
	display: flex;
	align-items: center;
}
.imgs a:hover{
	text-decoration: none;
	font-size: 1.01em;
}
.imgs a span{
	margin-left: 15px;
	font-size: 2.5em;
	font-weight: bold;
	color: #F7C80E;
}
.back1:hover,.back2:hover,.back3:hover{
	background-color: rgba(0, 58, 99,.4);
}
@media screen and (max-width: 768px) {
	.back1,.back2,.back3{
		height: 250px;
	}
	.title h1{
		font-size: 3em;
	}
}
@media screen and (min-width: 992px) {
	.col-md-4{
		width: 30%;
		margin-left: 3.3%;
	}
}
